/* BODY */
body {
    font-family:'Fira Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.8;
    color: #000;

}
/* HEADER */
header {
    background-color: white;
    padding: 20px;
    
    
}

    header img {
        width: 150px;
        height: auto;
    }

    header nav {
        font-size: 1.1rem;
    }

    ul {
        list-style-type: none;
        line-height: 2rem;
    }
/* MAIN */
main {
    text-align: center;
   
    
}
    
    main section {
        background-image: url(../images/banner.jpg);
        background-size: cover;
        color: white;
        text-align: left;
        padding: 20px;
       
       
    }

    main section h1 {
        margin-top: 20px;
    }

    main aside img {
        width: 80%;
    }

/* FOOTER */
footer {
    background-color: rgb(194, 193, 193);
}

    h4 {
        margin-top: 2.2rem;
    }
/* generici */
a {
    text-decoration: none;
}
 h1 {
     font-size: 2.5rem;
 }

 h2 {
    font-size: 2rem;
    margin-top: 1.3rem;
}

p {
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form {
    margin-top: 20px;
    margin-bottom: 34px;
    
}

form input {
    width: 294px;
    height: 2.1rem;
}
/* RESPONSIVE */





/* classi */
.colorbtn {
    background: rgb(64,219,255);
    background: linear-gradient(90deg, rgba(64,219,255,1) 0%, rgba(165,154,173,1) 100%);
    padding: 6px 12px;
    text-align: center;
    font-size: 1.1rem;
    width: 302px;
}    

.spacebtn {
    width: 88px;
    margin-top: 11px;
}

.colorbtn a {
    color: white;
}

.icone {
    color: red;
    font-size: 2rem;
}

.table {

}

.padding {
    padding: 20px;
}

#szblue {
    background-color: rgb(1, 1, 61);
    color: white;
    padding-top: 1.3rem;
    padding-bottom: 3rem;
    
}

.white {
    color: white;
}

.divinterlinea {
    line-height: 1.4;
    
}

#textarea {
    height: 70px;
    
}

.btnform {
    color: white;
    border: none;
    background: rgb(64,219,255);
    background: linear-gradient(90deg, rgba(64,219,255,1) 0%, rgba(165,154,173,1) 100%);
    width: 140px;
    font-size: 0.9rem;
}

.inputcontatti {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}