$colore-sfondo: rgb(0, 94, 0);
$colore-testo: white;
$famiglia: 'Ubuntu', sans-serif; 
$margini: 40px;
$colore-sfondo2: white;
$spazi-interni: 5px;
$colore-sfondo3: rgb(168, 255, 168);
$margine-generale: auto;

