h6 {
  background-color: #1c1ce6;
  color: white; }

@media screen and (min-width: 800px) {
  .present {
    margin-bottom: 20px; } }

@media screen and (max-width: 760px) {
  .carte {
    display: none; } }

@media screen and (min-width: 761px) {
  .cartehidden {
    display: none; } }

.intestazione {
  background-color: #75fa75; }

main {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem; }
  main .present {
    margin-bottom: 20px; }
  main .carte {
    padding: 15px;
    background-color: #ffc250; }

aside {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px; }

footer {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #75fa75; }
  footer p {
    font-size: 0.8rem; }
  footer hr {
    width: 160px;
    margin: 15px auto; }

#professionisti {
  margin-bottom: 15px; }

img {
  width: 100%; }

.icone {
  margin-left: 2px;
  margin-top: 9px; }

.insta {
  color: orangered; }

.yt {
  color: red; }

.profilo {
  width: 13%;
  margin-bottom: 3px; }

blockquote {
  font-size: 1rem;
  margin-left: 35px; }

figcaption {
  font-size: 0.9rem;
  margin-left: 158px; }
