/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/



/* esercizio */

#testoAlternato{
    border: 3px solid grey;
    width: 600px;
    padding: 25px;
    color: rgb(87, 87, 87);
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
    margin-top: 40px;
    margin-left: 30px;
}

#interfacce {
    color: rgb(173, 173, 173);
    animation-name: interfacceweb;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in;
    
    
}

@keyframes interfacceweb {
    0% {opacity: 0;}
    100% {opacity: 1; transform: translateY(-40%);}
    
    
}

#single {
    color: rgb(173, 173, 173);
    position: relative;
    left: -130px;
    animation-name: singleapp;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-iteration-count:infinite;
    visibility: hidden;
    
}

@keyframes singleapp {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

#app {
    color: rgb(173, 173, 173);
    position: relative;
    left: -267px;
    animation-name: app;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-iteration-count:infinite;
    visibility: hidden;
   
    
}

@keyframes app {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}