@media screen and (min-width: 800px) {
    .present {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 760px) {
    .carte {
        display:none;
    }
}

@media screen and (min-width: 761px) {
    .cartehidden {
        display:none;
    }

   
}

